{% from "macros.twig" import table %}
<body class={{body_class}}>


{% if impersonate_banner is defined %}
{% include impersonate_banner.path with impersonate_banner.args%}
{% endif %}

        <header role='banner' id='header_top'>
            <div id="searchbar">
                <input id="searchbar" type="search" placeholder="Search here ..."> 
                <i class="fa fa-search"></i>
            </div>
            <div class="header_logo" id='c_logo'>
                <a href="{{root_doc}}/front/central.php" accesskey='1' title={{"Home"|trans}}>
                    <span class='sr-only'>{{"Home"|trans}}</span>
                </a>
            </div>
        </header> 

<div id="main-test">
    <div id="menu" class="menu">
        <div id="menu-button" onclick="changeMenuState()">
           <i class="fas fa-caret-left"></i>
            <script>
            function changeMenuState(){
                is_menu_close = $('#menu').hasClass('menu-close');
                $('#menu').toggleClass('menu-close', !is_menu_close);
                $('#header_top').toggleClass('menu-close', !is_menu_close);
            }
            </script>
        </div>
        {# <div id="menu-favorite-button" onclick="activateFavoriteMode()">
            <i class="fas fa-cog"></i>
            <script>
            function activateFavoriteMode(){
                is_favorite_select = $('#menu').hasClass('favorite-mode');
                $('#menu').toggleClass('favorite-mode', !is_favorite_select);
            }
            </script>
        </div> #}
        {% include main_menu.path with main_menu.args%}
        {% include top_menu.path with top_menu.args%}
        <div class="copyright-message">{{copyright_message|raw}}</div>
    </div>
        <main role='main' id='page'>